{
  "extends": [
    "kentcdodds",
    "kentcdodds/react",
    "kentcdodds/jsx-a11y",
    "plugin:mdx/recommended"
  ],
  "rules": {
    "react/react-in-jsx-scope": "off",
    "react/jsx-filename-extension": "warn",
    "react/jsx-no-undef": "warn",
    "import/no-unresolved": "off",
    "react/prop-types": "warn",
    "consistent-return": "warn"
  }
}
